################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessCardAPI/.vs/BusinessCardAPI
/BusinessCardAPI/BusinessCardAPI/obj
/BusinessCardAPI/BusinessCard.Infra/obj
/BusinessCardAPI/BusinessCard.Core/obj
