################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessCardAPI/.vs/BusinessCardAPI
/BusinessCardAPI/BusinessCardAPI/obj
