################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessCardAPI/.vs/BusinessCardAPI
/BusinessCardAPI/BusinessCardAPI/obj
/BusinessCardAPI/BusinessCard.Infra/obj
/BusinessCardAPI/BusinessCard.Core/obj
/BusinessCardAPI/BusinessCard.Core/bin/Debug/net8.0
/BusinessCardAPI/BusinessCard.Infra/bin/Debug/net8.0
/BusinessCardAPI/BusinessCardAPI/bin/Debug/net8.0
/BusinessCardAPI/.vs/ProjectEvaluation
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCard.Core.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCard.Core.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCard.Core.pdb
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCard.Infra.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCard.Infra.pdb
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCardAPI.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCardAPI.exe
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCardAPI.pdb
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCardAPIUnitTest.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/bin/Debug/net8.0/BusinessCardAPIUnitTest.pdb
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/ref/BusinessCardAPIUnitTest.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/refint/BusinessCardAPIUnitTest.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.AssemblyInfo.cs
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.AssemblyInfoInputs.cache
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.csproj.AssemblyReference.cache
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.dll
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.pdb
/BusinessCardAPI/BusinessCardAPIUnitTest/obj/Debug/net8.0/BusinessCardAPIUnitTest.sourcelink.json
